<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root ke /public
    RewriteRule ^$ public/ [L]

    # Jika file / folder ada di public, layani langsung
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Laravel front controller
    RewriteRule ^ public/index.php [L]
</IfModule>
